
{% extends 'base.html' %}
{% block title %}首頁{% endblock %}
{% block content %}
<h2> 現在時刻 : {{now}} </h2>
<h2>顯示所有資料 {{errormessage}}</h2>
<table border="1" cellpadding="0" cellspacing="0">
    <th>編號</th><th>姓名</th><th>性別</th><th>生日</th><th>郵件帳號</th>
    <th>電話</th><th>地址</th>
    {% for student in students%}
    <tr>
        <td>{{student.id}} </td>
        <td>{{student.cName}} </td>
        <td>{{student.cSex}} </td>
        <td>{{student.cBirthday}} </td>
        <td>{{student.cEmail}} </td>
        <td>{{student.cPhone}} </td>
        <td>{{student.cAddr}} </td >
    </tr>
    {% endfor %}
{% endblock %}
    

