{% extends 'base.html' %}
{% block title %}PM申請工作單{% endblock %}
{% block content %}
{% csrf_token %}
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<form action="." method="POST" name="form1" enctype="multipart/form-data">
<div class = 'info'><br></div>
<div class ="row"> 
    {% comment %} 左邊留白1 {% endcomment %}
    <div class="col-2"></div>
    
    {% comment %} 左半邊表單 {% endcomment %}
    <div class="col-3">
        
            {% csrf_token %}
            <div class="form-group">
                <div class="col-10">
                    <label for="exampleFormControlInput1">申請人</label>
                    <input type="text" class="form-control"  id="cName" name="cName" placeholder="" readonly value={{cName}}>
                </div>
            </div>

            <div class="form-group">
                <div class="col-10">
                    <label for="exampleFormControlInput1">申請單號</label>
                    <input type="text" class="form-control"  id="cNumber" name="cNumber" placeholder="AM202205251259" readonly value={{CNumber_time}}{{cNumber}}>
                </div>
            </div>

            <div class="form-group">
                <div class="col-10">
                    <label for="exampleFormControlInput1" >客戶名稱</label>
                    <label for="exampleFormControlInput1" id="cCusetername_lbl"></label>
                    <input type="text" class="form-control" id="cCusetername"  name ="cCusetername" placeholder="" value={{cCusetername}}>
                </div>
            </div>

            <div class="form-group">
                <div class="col-10">
                    <label for="exampleFormControlInput1">專案名稱</label>
                    <label for="exampleFormControlInput1" id="cProjectname_lbl"></label>
                    <input type="text" class="form-control" id="cProjectname" name="cProjectname" placeholder="" value={{cProjectname}}>
                </div>
            </div>

            <div class="form-group">
                <div class="col-10">
                    <label for="exampleFormControlInput1">專案代碼</label>
                    <label for="exampleFormControlInput1" id="cProjectcode_lbl"></label>
                    <input type="text" class="form-control" id="cProjectcode" name="cProjectcode" placeholder="" value={{cProjectcode}}>
                </div>
            </div>

            <div class="form-group">
                <div class="col-10">
                    <label for="exampleFormControlInput1">專案開發地點</label>
                    <label for="exampleFormControlInput1" id="cLocation_lbl"></label>
                    <input type="text" class="form-control" id="cLocation" name="cLocation"placeholder="台北、蘇州、巴淡..." value={{cLocation}}>
                </div>
            </div>

            <div class="form-group">
                <div class="col-10">
                    <label for="exampleFormControlInput1">工作內容</label>
                    <label for="exampleFormControlInput1" id="cContent_lbl"></label>
                    <input type="text" class="form-control" id="cContent" name="cContent" placeholder="設計、測試、2nd source驗證..." value={{cContent}}>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label for="bday">工作需求區間</label>
                    <label for="exampleFormControlInput1" id="bday_lbl"></label></br>
                    <input type="date" id="cdatestart" name="cdatestart" value={{cdatestart}}> &nbsp;至&nbsp; <input type="date" id="cdateend" name="cdateend" min={{cdatestart}} value={{cdateend}}>
                  </div>
            </div>


    </div>
    <div class="col-5">
        <div class="form-group">
            <label for="exampleFormControlSelect1">工作所需Function</label>
            <select class="form-control" id="pro" name="cFunction">
                <option value=''>請選擇工作所需Function</option>
                {% for unit in units%}
                <option value={{unit.worktypename}}>{{unit.worktypename}}</option>
                {% endfor %}
                
            </select>
          </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">開發類型</label>
            <select class="form-control" id="city" name="cType">
                <option value=''>請選擇開發類型</option>
            </select>
          </div>

          <div class="form-group">
            <label for="exampleFormControlSelect1">產品類型</label>
            <select class="form-control" id="dis" name="cCotpye">
                <option value=''>請選擇產品類型</option>
            </select>
          </div>

          <div class="form-group">
            <label for="exampleFormControlSelect1">目前Stage</label>
            <select class="form-control" id="cStage" name="cStage">
              <option>RFQ</option>
              <option>ID Design</option>
              <option>ME Design</option>
              <option>SR</option>
              <option>ER</option>
              <option>PR</option>
            </select>
          </div>
          <div class="form-group">

                <label for="exampleFormControlInput1">特殊需求</label>
                <input type="text" class="form-control" id="cSpecial" name="cSpecial" placeholder="語言能力、相關經驗..." value={{cSpecial}}>
            <div class="form-group">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">過去共用專案</label>
                <input type="text" class="form-control" id="cLastproject" name="cLastproject" placeholder="" value={{cLastproject}}>
            </div> 
        </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">備註</label>
            <textarea class="form-control" id="cNoted" name="cNoted" rows="3" >{{cNoted}}</textarea>
          </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">檔案上傳<span style="color:red">{{error}}</span></label>
                <label for="exampleFormControlInput1" id="myfile_lb"></label></br>
                <input class="form-control" type="file" name = "myfile_n" id="myfil_i">
            </div>    
          <div class="col-3"></div>
        <div class="col-2"></div>

</div>
<div class="col-2"></div>
<div class="col-4"></div>

<div class="col-2"><button type="button" onclick="correct_submit()"class="btn btn-primary btn-lg">送出</button></div>
<div class="col-2"><button type="button" onclick="location.href='/index/'" class="btn btn-secondary btn-lg">取消</button></div>

</form>


<script>
	function correct_submit() {
        document.getElementById("cCusetername_lbl").innerText="";
        document.getElementById("cProjectname_lbl").innerText="";
        document.getElementById("cProjectcode_lbl").innerText="";
        document.getElementById("cLocation_lbl").innerText="";
        document.getElementById("cContent_lbl").innerText="";
        document.getElementById("bday_lbl").innerText="";
        document.getElementById("myfile_lb").innerText="";
        
        var v1=document.getElementById("cCusetername").value;
        var v2=document.getElementById("cProjectname").value;
        var v3=document.getElementById("cProjectcode").value;
        var v4=document.getElementById("cLocation").value;
        var v5=document.getElementById("cContent").value;
        var v6=document.getElementById("cdatestart").value;
        var v7=document.getElementById("cdateend").value;
        var v8=document.getElementById("myfil_i").value;
        if (v1 == ""){
            var label = document.getElementById("cCusetername_lbl");
            label.innerText="(必填)";
            label.style.color= "red";
            
        }
        if (v2 == ""){
            var label = document.getElementById("cProjectname_lbl");
            label.innerText="(必填)";
            label.style.color= "red";
            
        }
        if (v3 == ""){
            var label = document.getElementById("cProjectcode_lbl");
            label.innerText="(必填)";
            label.style.color= "red";
            
        }
        if (v4 == ""){
            var label = document.getElementById("cLocation_lbl");
            label.innerText="(必填)";
            label.style.color= "red";
            
        }
        if (v5 == ""){
            var label = document.getElementById("cContent_lbl");
            label.innerText="(必填)";
            label.style.color= "red";
            
        }
        if (v6 == ""){
            var label = document.getElementById("bday_lbl");
            label.innerText="(必填)";
            label.style.color= "red";
            
        }
        if (v7 == ""){
            var label = document.getElementById("bday_lbl");
            label.innerText="(必填)";
            label.style.color= "red";
            
        }


        if (v1 !="" && v2 !="" && v3 !="" && v4 !="" && v5 !=""&& v6 !=""&& v7 !=""){
		var msg = "表單資訊是否正確，即將送出";
		    if (confirm(msg) == true) {
                document.form1.action="/testurl/";
                document.form1.submit();
            }
		    else {  
		    }
    
	    }
    }

    address=function (a,b) {
        $.get('/address/'+ a ,function (dic) {
            $.each(dic,function (index,item) {
                b.append('<option value="' + item.id + '">' + item.address + '</option>')
            }
            )
        })
    };

    $(function () {
        pro=$('#pro');
        city=$('#city');
        dis=$('#dis');
        //查询省信息
        address(0,pro);
        //根据省改变查询市信息
        pro.change(function () {
            city.empty().append('<option value="">請選擇開發類型</option>');
            dis.empty().append('<option value="">哈哈哈</option>');
            address(this.value,city)

        }); 
    })
</script>

{% endblock %}
    