
{% extends 'base.html' %}
{% block title %}PM申請工作單{% endblock %}
{% block content %}
<form action="." method="POST" name="form1">
<div class = 'info'><br></div>
<div class ="row"> 
    {% comment %} 左邊留白1 {% endcomment %}
    <div class="col-2"></div>

    {% comment %} 左半邊表單 {% endcomment %}
    <div class="col-3">
        
            {% csrf_token %}
            <div class="form-group">
                <div class="col-10">
                    <label for="exampleFormControlInput1">申請人</label>
                    <input type="text" class="form-control" value={{unit.cName}} id="cName" name="cName" placeholder="" readonly>
                </div>
            </div>

            <div class="form-group">
                <div class="col-10">
                    <label for="exampleFormControlInput1">申請單號</label>
                    <input type="text" class="form-control" value={{unit.cNumber}} id="cNumber" name="cNumber" placeholder="AM202205251259" readonly >
                </div>
            </div>

            <div class="form-group">
                <div class="col-10">
                    <label for="exampleFormControlInput1">客戶名稱</label>
                    <input type="text" class="form-control" value={{unit.cCusetername}} id="cCusetername" name ="cCusetername" placeholder="" readonly>
                </div>
            </div>

            <div class="form-group">
                <div class="col-10">
                    <label for="exampleFormControlInput1">專案名稱</label>
                    <input type="text" class="form-control" value={{unit.cProjectname}} id="cProjectname" name="cProjectname" placeholder="" readonly>
                </div>
            </div>

            <div class="form-group">
                <div class="col-10">
                    <label for="exampleFormControlInput1">專案代碼</label>
                    <input type="text" class="form-control" value={{unit.cProjectcode}} id="cProjectcode" name="cProjectcode" placeholder="" readonly>
                </div>
            </div>

            <div class="form-group">
                <div class="col-10">
                    <label for="exampleFormControlInput1">專案開發地點</label>
                    <input type="text" class="form-control" value={{unit.cLocation}} id="cLocation" name="cLocation"placeholder="台北、蘇州、巴淡..." readonly>
                </div>
            </div>

            <div class="form-group">
                <div class="col-10">
                    <label for="exampleFormControlInput1">工作內容</label>
                    <input type="text" class="form-control" value={{unit.cContent}} id="cContent" name="cContent" placeholder="設計、測試、2nd source驗證..." readonly>
                </div>
            </div>

            <div class="form-group">
                <div class="col-10">
                    <label for="exampleFormControlInput1">過去共用專案</label>
                    <textarea readonly class="form-control" id="cNoted" name="cNoted" rows="1">{{unit.cLastproject}}</textarea >
                </div>
            </div>
            <div class="form-group">
                <div class="col-10">
                檔案下載 : {% if unit.uploadedFile.url is not null %}
                            <a href="{{ unit.uploadedFile.url }}">{{unit.title}}</a></li>
                            {% else %}
                            無上傳檔案
                            {% endif %}
                </div>
            </div>

    </div>
    <div class="col-5">
        <div class="form-group">
            <label for="exampleFormControlSelect1">工作需求區間</label>
            
                <input type="text" class="form-control col-12" value={{unit.cdatestart}}&nbsp;~&nbsp;{{unit.cdateend}} id="cFunction" name="cFunction" placeholder="" readonly>
                {% comment %} <input type="text" class="form-control col-4" value={{unit.cdateend}} id="cFunction" name="cFunction" placeholder="" readonly> {% endcomment %}
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">工作所需Function</label>
            <input type="text" class="form-control" value={{unit.cFunction}} id="cFunction" name="cFunction" placeholder="" readonly>
          </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">開發類型</label>
            <input type="text" class="form-control" value={{unit.cType}}&nbsp; id="cType" name="cType" placeholder="" readonly>
          </div>

          <div class="form-group">
            <label for="exampleFormControlSelect1">合作類型</label>
            <input type="text" class="form-control" value={{unit.cCotpye}}&nbsp; id="cCotpye" name="cCotpye" placeholder="" readonly>
          </div>

          <div class="form-group">
            <label for="exampleFormControlSelect1">目前Stage</label>
            <input type="text" class="form-control" value={{unit.cStage}} id="cStage" name="cStage" placeholder="" readonly>
          </div>
          <div class="form-group">

                <label for="exampleFormControlInput1">特殊需求</label>
                <textarea readonly class="form-control" id="cNoted" name="cNoted" rows="1">{{unit.cSpecial}}</textarea >

        </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">備註</label>
            <textarea readonly class="form-control" id="cNoted" name="cNoted" rows="3">{{unit.cNoted}}</textarea >
          </div>
    <div class="col-2"></div>

</div>
<div class="col-2"></div>
<div class="col-2"></div>
<div class="mb-3">

    <!--<a href="../media/" + {{unit.uploadedFile}} >{{unit.title}}</a>
    <a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>-->
    
  </div>
  <div class="col-2"></div>
  {% comment %} action="/replyupdate/{{unit.cNumber}}/load" {% endcomment %}
<div class="col-2">
    {% if unit.cStatus == "Head deciding" %}
    <h4>Head指派任務中</h4>
    {% elif unit.cStatus == "Finish" %}
    <h4>專案指派已經結束</h4>
    {% else %}
    <button class="btn btn-primary" type="button" onclick="location.href='/replyupdate/{{unit.cNumber}}/load'">修改</button>
    <a>&nbsp;</a>
    <button class="btn btn-danger" onclick="change()" type="button" >刪除
    </button>
    {%endif%}
</div>
</form>
<div class="col-2">
    <button class="btn btn-secondary" type="button" onclick="location.href=/inquire/">上一頁
    </button>
</div>
</div>

</div>
{% csrf_token %}
<script type="text/javascript">
	
function change(){
    var msg = "是否刪除表單";
    if (confirm(msg) == true) {
        document.form1.action= "/replydelete/{{unit.cNumber}}/";
        document.form1.submit();
        }
} 
</script>

{% endblock %}
    